.scroll_news {
  overflow-y: scroll;
  padding-right: 1rem;
  height: 800px;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 2px; /* ширина для вертикального скролла */
  height: 8px; /* высота для горизонтального скролла */
  background-color: rgba(255, 255, 255, 0.25);
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #843465;
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #253861;
}


.wr-description {
  .number_optimization {
    display: flex;
    background: url("./Ellipse.svg") no-repeat;
    //height: 3.5rem;
    flex-direction: column;
    text-align: start;
    padding-left: 1.5rem;
    padding-top: 1.3rem;
    span {
      color: rgba(255,255,255, 1);
      font-weight: 900;
      font-size: 1.1rem;
      line-height: 1rem;
      padding-left: 0.15rem;
      padding-top: 0.15rem;
    }
    .titleDescriptionNews {
      padding-left: 3rem;
    }

  }
  .text_description {
    text-align: start;
    color: rgba(255,255,255, 0.5);
    font-size: 1rem;
    line-height: 22px;
    text-transform: none;
    font-style: normal;
    font-weight: 500;
    padding-left: 3.75rem;
    margin: 1.5rem 0 1.5rem 0;
  }
  .description {
    padding-left: 3.75rem;
    color: rgba(255,255,255, 1);
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.2rem;
    letter-spacing: .01rem;
  }

}
.fr {
  //display: flex;
  //margin: 0 auto;
  padding: 1rem;
}



/* Стрелки */

//::-webkit-scrollbar-button:vertical:start:decrement {
//  background: linear-gradient(120deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
//  linear-gradient(240deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
//  linear-gradient(0deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
//  background-color: #f6f8f4;
//}
//
//::-webkit-scrollbar-button:vertical:end:increment {
//  background:
//          linear-gradient(300deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
//          linear-gradient(60deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
//          linear-gradient(180deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
//  background-color: #f6f8f4;
//}
//
//::-webkit-scrollbar-button:horizontal:start:decrement {
//  background:
//          linear-gradient(30deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
//          linear-gradient(150deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
//          linear-gradient(270deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
//  background-color: #f6f8f4;
//}
//
//::-webkit-scrollbar-button:horizontal:end:increment {
//  background:
//          linear-gradient(210deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
//          linear-gradient(330deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
//          linear-gradient(90deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
//  background-color: #f6f8f4;
//}


.wr {
  display: flex;
  flex-direction: column;
  color: green;
  width: 35vw;
  margin-top: 1rem;
  margin-left: 1rem;
  //height: 18vh;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 37.1%, rgba(255, 255, 255, 0.1) 116.79%);
  border-radius: 2px;
  .news{
    padding-left: 1.6rem;
    .text_news {
      text-align: start;
      color: rgba(255,255,255, 0.5);
      font-size: 1.1rem;
      line-height: 22px;
      text-transform: none;
      font-style: normal;
      font-weight: 500;

    }
  }
  .in{
    display: flex;
    padding: 1.5rem;

  }
  .st {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.8rem;
    color: rgba(255,255,255, 1);
    font-size: 1.5rem;

  }

  button {
    display: flex;
    background: rgba(255, 255, 255, 0.1);
    margin-top: 1.5rem;
    padding: 0.9rem 1.6rem;
    font-weight: 600;
    color: white;
    outline: none;
    border: 0;
    border-radius: 3px;
    &:hover {
      background: rgba(254, 199, 74, 1);

    }
  }

}